vibracao_completo_mysql.json
[
    {
        "id": "tab_login_001",
        "type": "tab",
        "label": "Login",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "tab_vibracao_001",
        "type": "tab",
        "label": "Vibração",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "http_get_login",
        "type": "http in",
        "z": "tab_login_001",
        "name": "GET /login",
        "url": "/login",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 100,
        "wires": [["template_login"]]
    },
    {
        "id": "template_login",
        "type": "template",
        "z": "tab_login_001",
        "name": "HTML Login",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html lang=\"pt-br\">\n<head>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width,initial-scale=1\">\n<title>Login — Monitoramento IoT</title>\n<style>\n  @import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&family=Exo+2:wght@300;600&display=swap');\n  *{box-sizing:border-box;margin:0;padding:0}\n  :root{--bg:#050d1a;--card:#091428;--border:#0a4a7a;--accent:#00d4ff;--red:#ff2d55;--text:#c8e6ff;--muted:#4a7a9b}\n  body{min-height:100vh;display:flex;align-items:center;justify-content:center;background:var(--bg);font-family:'Exo 2',sans-serif;position:relative;overflow:hidden}\n  body::before{content:'';position:absolute;inset:0;background:repeating-linear-gradient(0deg,transparent,transparent 40px,rgba(0,212,255,.03) 40px,rgba(0,212,255,.03) 41px),repeating-linear-gradient(90deg,transparent,transparent 40px,rgba(0,212,255,.03) 40px,rgba(0,212,255,.03) 41px);pointer-events:none}\n  .glow{position:absolute;width:400px;height:400px;border-radius:50%;background:radial-gradient(circle,rgba(0,212,255,.08) 0%,transparent 70%);top:-100px;left:-100px;pointer-events:none}\n  .glow2{position:absolute;width:300px;height:300px;border-radius:50%;background:radial-gradient(circle,rgba(255,45,85,.06) 0%,transparent 70%);bottom:-80px;right:-80px;pointer-events:none}\n  .card{position:relative;background:var(--card);border:1px solid var(--border);border-radius:4px;padding:48px 40px 40px;width:100%;max-width:400px;box-shadow:0 0 60px rgba(0,212,255,.07),0 24px 48px rgba(0,0,0,.5)}\n  .card::before{content:'';position:absolute;top:0;left:40px;right:40px;height:1px;background:linear-gradient(90deg,transparent,var(--accent),transparent)}\n  .badge{display:inline-flex;align-items:center;gap:6px;background:rgba(0,212,255,.08);border:1px solid rgba(0,212,255,.2);border-radius:2px;padding:4px 10px;font-family:'Share Tech Mono',monospace;font-size:11px;color:var(--accent);letter-spacing:2px;margin-bottom:24px}\n  .badge span{width:6px;height:6px;border-radius:50%;background:var(--accent);box-shadow:0 0 6px var(--accent);animation:pulse 1.5s ease-in-out infinite}\n  @keyframes pulse{0%,100%{opacity:1}50%{opacity:.3}}\n  h1{color:#fff;font-size:22px;font-weight:600;letter-spacing:.5px;margin-bottom:4px}\n  .sub{color:var(--muted);font-size:13px;font-family:'Share Tech Mono',monospace;margin-bottom:36px}\n  label{display:block;font-size:11px;font-weight:600;letter-spacing:2px;color:var(--muted);text-transform:uppercase;margin-bottom:8px;margin-top:20px}\n  input{width:100%;padding:13px 16px;background:rgba(0,212,255,.04);border:1px solid var(--border);border-radius:3px;color:#fff;font-size:15px;font-family:'Exo 2',sans-serif;outline:none;transition:border .2s,box-shadow .2s}\n  input:focus{border-color:var(--accent);box-shadow:0 0 0 3px rgba(0,212,255,.1)}\n  input::placeholder{color:var(--muted)}\n  .btn{width:100%;padding:14px;margin-top:32px;background:var(--accent);border:none;border-radius:3px;color:#000;font-size:14px;font-weight:700;font-family:'Exo 2',sans-serif;letter-spacing:2px;text-transform:uppercase;cursor:pointer;transition:opacity .2s,box-shadow .2s;box-shadow:0 0 20px rgba(0,212,255,.3)}\n  .btn:hover{opacity:.85}\n  .erro{display:none;margin-top:16px;padding:11px 14px;background:rgba(255,45,85,.08);border:1px solid rgba(255,45,85,.3);border-radius:3px;color:var(--red);font-size:13px;font-family:'Share Tech Mono',monospace;text-align:center}\n  .footer{margin-top:32px;text-align:center;font-size:11px;font-family:'Share Tech Mono',monospace;color:var(--muted);letter-spacing:1px}\n</style>\n</head>\n<body>\n<div class=\"glow\"></div>\n<div class=\"glow2\"></div>\n<div class=\"card\">\n  <div class=\"badge\"><span></span>SISTEMA ATIVO</div>\n  <h1>Monitoramento IoT</h1>\n  <p class=\"sub\">ADXL345 // SENSOR DE VIBRAÇÃO</p>\n  <form method=\"POST\" action=\"/login\">\n    <label>Usuário</label>\n    <input type=\"text\" name=\"usuario\" placeholder=\"admin\" autofocus required>\n    <label>Senha</label>\n    <input type=\"password\" name=\"senha\" placeholder=\"••••••\" required>\n    <button class=\"btn\" type=\"submit\">ACESSAR</button>\n  </form>\n  <div class=\"erro\" id=\"err\">Credenciais inválidas — tente novamente</div>\n  <div class=\"footer\">SENAI/SC BLUMENAU // UC IoT 2024</div>\n</div>\n<script>if(location.search.includes('erro=1'))document.getElementById('err').style.display='block';</script>\n</body></html>",
        "x": 320,
        "y": 100,
        "wires": [["http_res_get"]]
    },
    {
        "id": "http_res_get",
        "type": "http response",
        "z": "tab_login_001",
        "name": "Res GET",
        "statusCode": "200",
        "headers": {"Content-Type": "text/html"},
        "x": 540,
        "y": 100,
        "wires": []
    },
    {
        "id": "http_post_login",
        "type": "http in",
        "z": "tab_login_001",
        "name": "POST /login",
        "url": "/login",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 200,
        "wires": [["func_valida"]]
    },
    {
        "id": "func_valida",
        "type": "function",
        "z": "tab_login_001",
        "name": "Valida login",
        "func": "var u = msg.payload.usuario || '';\nvar s = msg.payload.senha   || '';\nif (u === 'admin' && s === 'admin') {\n    msg.statusCode = 302;\n    msg.headers = { 'Location': '/dashboard' };\n} else {\n    msg.statusCode = 302;\n    msg.headers = { 'Location': '/login?erro=1' };\n}\nmsg.payload = '';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 200,
        "wires": [["http_res_post"]]
    },
    {
        "id": "http_res_post",
        "type": "http response",
        "z": "tab_login_001",
        "name": "Res POST",
        "statusCode": "",
        "headers": {},
        "x": 540,
        "y": 200,
        "wires": []
    },
    {
        "id": "http_get_dash",
        "type": "http in",
        "z": "tab_login_001",
        "name": "GET /dashboard",
        "url": "/dashboard",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 320,
        "wires": [["template_dash"]]
    },
    {
        "id": "template_dash",
        "type": "template",
        "z": "tab_login_001",
        "name": "HTML Dashboard",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html lang=\"pt-br\">\n<head>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width,initial-scale=1\">\n<title>Dashboard — Monitoramento IoT</title>\n<script src=\"https://cdn.jsdelivr.net/npm/chart.js\"></script>\n<style>\n  @import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&family=Exo+2:wght@300;400;600;700&display=swap');\n  *{box-sizing:border-box;margin:0;padding:0}\n  :root{--bg:#050d1a;--card:#091428;--border:#0a4a7a;--accent:#00d4ff;--green:#00ff88;--red:#ff2d55;--yellow:#ffd60a;--text:#c8e6ff;--muted:#4a7a9b}\n  body{background:var(--bg);font-family:'Exo 2',sans-serif;color:var(--text);min-height:100vh}\n  body::before{content:'';position:fixed;inset:0;background:repeating-linear-gradient(0deg,transparent,transparent 40px,rgba(0,212,255,.02) 40px,rgba(0,212,255,.02) 41px),repeating-linear-gradient(90deg,transparent,transparent 40px,rgba(0,212,255,.02) 40px,rgba(0,212,255,.02) 41px);pointer-events:none;z-index:0}\n  header{position:relative;z-index:1;display:flex;align-items:center;justify-content:space-between;padding:16px 32px;background:var(--card);border-bottom:1px solid var(--border)}\n  .logo{display:flex;align-items:center;gap:12px}\n  .logo-dot{width:10px;height:10px;border-radius:50%;background:var(--accent);box-shadow:0 0 8px var(--accent);animation:pulse 1.5s infinite}\n  @keyframes pulse{0%,100%{opacity:1}50%{opacity:.3}}\n  .logo h1{font-size:16px;font-weight:700;color:#fff;letter-spacing:1px}\n  .logo span{font-family:'Share Tech Mono',monospace;font-size:11px;color:var(--muted)}\n  .header-right{display:flex;align-items:center;gap:20px}\n  #relogio{font-family:'Share Tech Mono',monospace;font-size:14px;color:var(--accent)}\n  .btn-logout{padding:7px 16px;background:transparent;border:1px solid var(--border);border-radius:3px;color:var(--muted);font-family:'Exo 2',sans-serif;font-size:12px;font-weight:600;letter-spacing:1px;cursor:pointer;text-decoration:none;transition:all .2s}\n  .btn-logout:hover{border-color:var(--red);color:var(--red)}\n  .main{position:relative;z-index:1;padding:24px 32px;max-width:1400px;margin:0 auto}\n  .cards{display:grid;grid-template-columns:repeat(4,1fr);gap:16px;margin-bottom:20px}\n  .kpi{background:var(--card);border:1px solid var(--border);border-radius:4px;padding:20px;position:relative;overflow:hidden}\n  .kpi::after{content:'';position:absolute;top:0;left:0;right:0;height:2px;background:var(--accent)}\n  .kpi.alarme::after{background:var(--red)}\n  .kpi.ok::after{background:var(--green)}\n  .kpi-label{font-size:10px;font-weight:600;letter-spacing:2px;text-transform:uppercase;color:var(--muted);margin-bottom:10px;font-family:'Share Tech Mono',monospace}\n  .kpi-value{font-size:32px;font-weight:700;font-family:'Share Tech Mono',monospace;color:#fff;line-height:1}\n  .kpi-unit{font-size:14px;color:var(--muted);margin-left:4px}\n  .grid2{display:grid;grid-template-columns:2fr 1fr;gap:16px;margin-bottom:20px}\n  .panel{background:var(--card);border:1px solid var(--border);border-radius:4px;padding:20px}\n  .panel-title{font-size:11px;font-weight:600;letter-spacing:2px;text-transform:uppercase;color:var(--muted);font-family:'Share Tech Mono',monospace;margin-bottom:16px;display:flex;align-items:center;gap:8px}\n  .panel-title .dot{width:6px;height:6px;border-radius:50%;background:var(--accent)}\n  canvas{width:100%!important}\n  .log-list{list-style:none;max-height:260px;overflow-y:auto}\n  .log-list::-webkit-scrollbar{width:4px}\n  .log-list::-webkit-scrollbar-thumb{background:var(--border);border-radius:2px}\n  .log-item{display:flex;align-items:flex-start;gap:10px;padding:8px 0;border-bottom:1px solid rgba(10,74,122,.3);font-size:12px}\n  .log-item:last-child{border-bottom:none}\n  .log-time{font-family:'Share Tech Mono',monospace;color:var(--muted);min-width:58px;font-size:11px;padding-top:1px}\n  .log-msg{color:var(--text)}\n  .tag{display:inline-block;padding:2px 7px;border-radius:2px;font-size:10px;font-weight:700;letter-spacing:1px;font-family:'Share Tech Mono',monospace}\n  .tag.ok{background:rgba(0,255,136,.1);color:var(--green)}\n  .tag.warn{background:rgba(255,214,10,.1);color:var(--yellow)}\n  .tag.crit{background:rgba(255,45,85,.1);color:var(--red)}\n  .tag.db{background:rgba(0,212,255,.1);color:var(--accent)}\n  .estagio-bar{display:flex;gap:6px;margin-top:12px}\n  .est-item{flex:1;height:6px;border-radius:2px;background:var(--border);transition:background .3s}\n  .est-item.ativo{background:var(--accent);box-shadow:0 0 8px var(--accent)}\n  .est-item.alarme{background:var(--red);box-shadow:0 0 8px var(--red)}\n  .alerta-banner{display:none;align-items:center;gap:12px;background:rgba(255,45,85,.08);border:1px solid rgba(255,45,85,.3);border-radius:4px;padding:12px 20px;margin-bottom:20px;animation:blink .8s ease-in-out infinite}\n  @keyframes blink{0%,100%{border-color:rgba(255,45,85,.3)}50%{border-color:rgba(255,45,85,.8)}}\n  .alerta-banner.show{display:flex}\n  .alerta-text{font-size:14px;font-weight:600;color:var(--red)}\n  .alerta-val{font-family:'Share Tech Mono',monospace;font-size:13px;color:var(--red)}\n  @media(max-width:900px){.cards{grid-template-columns:repeat(2,1fr)}.grid2{grid-template-columns:1fr}}\n</style>\n</head>\n<body>\n<header>\n  <div class=\"logo\">\n    <div class=\"logo-dot\"></div>\n    <div><h1>MONITORAMENTO IoT</h1><span>ADXL345 // VIBRAÇÃO INDUSTRIAL</span></div>\n  </div>\n  <div class=\"header-right\">\n    <span id=\"relogio\">--:--:--</span>\n    <a href=\"/login\" class=\"btn-logout\">SAIR</a>\n  </div>\n</header>\n<div class=\"main\">\n  <div class=\"alerta-banner\" id=\"banner\">\n    <span style=\"font-size:20px\">⚠</span>\n    <div>\n      <div class=\"alerta-text\">LIMIAR ULTRAPASSADO — ALARME ATIVO</div>\n      <div class=\"alerta-val\" id=\"banner-val\"></div>\n    </div>\n  </div>\n  <div class=\"cards\">\n    <div class=\"kpi\" id=\"kpi-val\"><div class=\"kpi-label\">Valor atual</div><div class=\"kpi-value\">—<span class=\"kpi-unit\">raw</span></div></div>\n    <div class=\"kpi\" id=\"kpi-estagio\"><div class=\"kpi-label\">Estágio</div><div class=\"kpi-value\">1<span class=\"kpi-unit\">/6</span></div></div>\n    <div class=\"kpi\" id=\"kpi-amp\"><div class=\"kpi-label\">Amplitude</div><div class=\"kpi-value\">±80<span class=\"kpi-unit\">raw</span></div></div>\n    <div class=\"kpi ok\" id=\"kpi-status\"><div class=\"kpi-label\">Status</div><div class=\"kpi-value\" style=\"font-size:18px;padding-top:6px\">NORMAL</div></div>\n  </div>\n  <div class=\"panel\" style=\"margin-bottom:20px\">\n    <div class=\"panel-title\"><div class=\"dot\"></div>PROGRESSÃO DE ESTÁGIOS</div>\n    <div class=\"estagio-bar\">\n      <div class=\"est-item ativo\" id=\"e1\"></div><div class=\"est-item\" id=\"e2\"></div><div class=\"est-item\" id=\"e3\"></div>\n      <div class=\"est-item\" id=\"e4\"></div><div class=\"est-item\" id=\"e5\"></div><div class=\"est-item\" id=\"e6\"></div>\n    </div>\n    <div style=\"display:flex;justify-content:space-between;margin-top:6px\">\n      <span style=\"font-size:10px;font-family:Share Tech Mono,monospace;color:var(--muted)\">Normal</span>\n      <span style=\"font-size:10px;font-family:Share Tech Mono,monospace;color:var(--muted)\">Falha crítica</span>\n    </div>\n  </div>\n  <div class=\"grid2\">\n    <div class=\"panel\">\n      <div class=\"panel-title\"><div class=\"dot\"></div>VIBRAÇÃO AO LONGO DO TEMPO</div>\n      <canvas id=\"chart\" height=\"120\"></canvas>\n    </div>\n    <div class=\"panel\">\n      <div class=\"panel-title\"><div class=\"dot\" style=\"background:var(--red)\"></div>LOG DE EVENTOS</div>\n      <ul class=\"log-list\" id=\"log\"></ul>\n    </div>\n  </div>\n</div>\n<script>\nsetInterval(()=>{document.getElementById('relogio').textContent=new Date().toLocaleTimeString('pt-BR');},1000);\nconst ctx=document.getElementById('chart').getContext('2d');\nconst MAX=80,labels=[],dados=[];\nconst chart=new Chart(ctx,{type:'line',data:{labels,datasets:[{label:'Vibração',data:dados,borderColor:'#00d4ff',backgroundColor:'rgba(0,212,255,.05)',borderWidth:1.5,pointRadius:2,tension:.3,fill:true},{label:'Limiar +',data:[],borderColor:'rgba(255,45,85,.5)',borderWidth:1,borderDash:[6,4],pointRadius:0,fill:false},{label:'Limiar -',data:[],borderColor:'rgba(255,45,85,.5)',borderWidth:1,borderDash:[6,4],pointRadius:0,fill:false}]},options:{animation:false,responsive:true,scales:{x:{ticks:{color:'#4a7a9b',font:{size:10,family:'Share Tech Mono'}},grid:{color:'rgba(10,74,122,.3)'}},y:{min:-600,max:600,ticks:{color:'#4a7a9b',font:{size:10,family:'Share Tech Mono'}},grid:{color:'rgba(10,74,122,.3)'}}},plugins:{legend:{labels:{color:'#4a7a9b',font:{size:11}}}}}});\nconst LIMIAR=400;\nconst amplitudes=[80,160,250,350,450,500];\nconst nomes=['Normal','Leve','Moderado','Alto','Crítico','Falha'];\nlet tick=0,estagio=0;\nfunction adicionarLog(msg,tipo){const ul=document.getElementById('log');const li=document.createElement('li');li.className='log-item';const h=new Date().toLocaleTimeString('pt-BR');li.innerHTML=`<span class=\"log-time\">${h}</span><span class=\"tag ${tipo}\"></span><span class=\"log-msg\">${msg}</span>`;li.querySelector('.tag').textContent=tipo==='crit'?'ALARME':tipo==='db'?'BANCO':tipo==='warn'?'AVISO':'OK';ul.insertBefore(li,ul.firstChild);if(ul.children.length>50)ul.removeChild(ul.lastChild);}\nfunction atualizar(){tick++;if(tick>=20){tick=0;if(estagio<5)estagio++;}\nconst amp=amplitudes[estagio];const valor=Math.round((Math.random()*2-1)*amp);const agora=new Date().toLocaleTimeString('pt-BR');\nlabels.push(agora);dados.push(valor);chart.data.datasets[1].data.push(LIMIAR);chart.data.datasets[2].data.push(-LIMIAR);\nif(labels.length>MAX){labels.shift();dados.shift();chart.data.datasets[1].data.shift();chart.data.datasets[2].data.shift();}\nchart.update();\ndocument.querySelector('#kpi-val .kpi-value').innerHTML=valor+'<span class=\"kpi-unit\">raw</span>';\ndocument.querySelector('#kpi-estagio .kpi-value').innerHTML=(estagio+1)+'<span class=\"kpi-unit\">/6</span>';\ndocument.querySelector('#kpi-amp .kpi-value').innerHTML='±'+amp+'<span class=\"kpi-unit\">raw</span>';\nfor(let i=1;i<=6;i++){const el=document.getElementById('e'+i);el.className='est-item';if(i<=estagio+1)el.classList.add(estagio>=4?'alarme':'ativo');}\nconst em=Math.abs(valor)>=LIMIAR;\nconst status=document.querySelector('#kpi-status .kpi-value');\nconst kpiStatus=document.getElementById('kpi-status');\nconst banner=document.getElementById('banner');\nif(em){status.textContent='ALARME!';kpiStatus.className='kpi alarme';banner.classList.add('show');document.getElementById('banner-val').textContent='Estágio '+(estagio+1)+' — '+nomes[estagio]+' — Valor: '+valor+' (limiar: ±'+LIMIAR+')';adicionarLog('Valor '+valor+' ultrapassa ±'+LIMIAR,'crit');\n}else{status.textContent='NORMAL';kpiStatus.className='kpi ok';banner.classList.remove('show');if(tick===1)adicionarLog('Estágio '+(estagio+1)+' — '+nomes[estagio]+' ±'+amp,'ok');}}\nadicionarLog('Sistema iniciado','ok');\nsetInterval(atualizar,500);\n</script>\n</body></html>",
        "x": 350,
        "y": 320,
        "wires": [["http_res_dash"]]
    },
    {
        "id": "http_res_dash",
        "type": "http response",
        "z": "tab_login_001",
        "name": "Res Dashboard",
        "statusCode": "200",
        "headers": {"Content-Type": "text/html"},
        "x": 580,
        "y": 320,
        "wires": []
    },
    {
        "id": "inject_simples",
        "type": "inject",
        "z": "tab_vibracao_001",
        "name": "Tick 0.5s",
        "props": [],
        "repeat": "0.5",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "x": 110,
        "y": 200,
        "wires": [["function_simples"]]
    },
    {
        "id": "function_simples",
        "type": "function",
        "z": "tab_vibracao_001",
        "name": "Gera vibração + alarme",
        "func": "var LIMIAR = 400;\nvar amplitudes = [80,160,250,350,450,500];\nvar tick    = context.get('tick')    || 0;\nvar estagio = context.get('estagio') || 0;\ntick++;\nif(tick >= 20){ tick=0; estagio=Math.min(estagio+1,5); }\ncontext.set('tick',tick);\ncontext.set('estagio',estagio);\nvar amp   = amplitudes[estagio];\nvar valor = Math.round((Math.random()*2-1)*amp);\nvar nomeEstagio = 'Estágio '+(estagio+1)+' ±'+amp;\nvar em = Math.abs(valor)>=LIMIAR ? 1 : 0;\n\n// Passa dados para o próximo nó salvar no banco\nmsg.dbPayload = {\n    valor:   valor,\n    estagio: estagio+1,\n    em_alarme: em\n};\n\nreturn [\n  {topic:'Vibração', payload:valor, dbPayload: msg.dbPayload},\n  {payload: nomeEstagio},\n  em ? {payload:'⚠️ ALARME! '+valor+' (±'+LIMIAR+')', dbPayload: msg.dbPayload} : null\n];",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 200,
        "wires": [
            ["chart_simples", "func_monta_sql"],
            ["texto_estagio"],
            ["texto_alarme"]
        ]
    },
    {
        "id": "func_monta_sql",
        "type": "function",
        "z": "tab_vibracao_001",
        "name": "Monta INSERT",
        "func": "// Monta a query para salvar no MySQL\nmsg.topic = \"INSERT INTO vibracao (valor, estagio, em_alarme) VALUES (?, ?, ?)\";\nmsg.payload = [\n    msg.dbPayload.valor,\n    msg.dbPayload.estagio,\n    msg.dbPayload.em_alarme\n];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 300,
        "wires": [["mysql_node"]]
    },
    {
        "id": "mysql_node",
        "type": "mysql",
        "z": "tab_vibracao_001",
        "mydb": "mysql_config",
        "name": "Salvar no MySQL",
        "x": 760,
        "y": 300,
        "wires": [["debug_mysql"]]
    },
    {
        "id": "debug_mysql",
        "type": "debug",
        "z": "tab_vibracao_001",
        "name": "Debug MySQL",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 300,
        "wires": []
    },
    {
        "id": "chart_simples",
        "type": "ui_chart",
        "z": "tab_vibracao_001",
        "name": "Gráfico",
        "group": "group_simples",
        "order": 1,
        "width": "12",
        "height": "8",
        "label": "Vibração ao longo do tempo",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Aguardando...",
        "dot": true,
        "ymin": "-600",
        "ymax": "600",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": ["#00d4ff","#ff7f0e","#00ff88","#000","#000","#000","#000","#000","#000"],
        "outputs": 1,
        "useDifferentColor": true,
        "className": "",
        "x": 550,
        "y": 140,
        "wires": [[]]
    },
    {
        "id": "texto_estagio",
        "type": "ui_text",
        "z": "tab_vibracao_001",
        "group": "group_simples",
        "order": 2,
        "width": "12",
        "height": "1",
        "name": "Estágio",
        "label": "Estágio atual:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 550,
        "y": 200,
        "wires": []
    },
    {
        "id": "texto_alarme",
        "type": "ui_text",
        "z": "tab_vibracao_001",
        "group": "group_alarme",
        "order": 1,
        "width": "12",
        "height": "1",
        "name": "Alarme",
        "label": "⚠️ Alarme:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 550,
        "y": 260,
        "wires": []
    },
    {
        "id": "mysql_config",
        "type": "MySQLdatabase",
        "name": "vibracao DB",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "vibracao",
        "tz": ""
    },
    {
        "id": "group_simples",
        "type": "ui_group",
        "name": "Monitoramento",
        "tab": "tab_dash_ui",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "group_alarme",
        "type": "ui_group",
        "name": "Alarme",
        "tab": "tab_dash_ui",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "tab_dash_ui",
        "type": "ui_tab",
        "name": "Vibração",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
